/* ==========================================================================
   Choi skin
   ========================================================================== */

/* Colors */
$lightest-green:#dfedc8;
$light-green:#85be62;
$green: #70b248;
$dark-green: #5d9f36;
// $darkest-green:#2c4d1a;


/* Settings */
$link-color: $light-green !default; 
$footer-background-color: $lightest-green !default;

/* TOC setting */
$toc-nav-title-color: $light-green;
$toc-nav-active-color: mix(#fff, $light-green, 80%);

/* navigation menu */
$nav-menu-item-underline-color: $lightest-green;


.page__title{
    color: $dark-green;
}